body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 12px;
}

ul li {
    background: #ddd;
    margin: 6px 0;
    padding: 8px;
    border-radius: 4px;
}
